/*=============================================
=            Global CSS Styles                =
=============================================*/

/*----------  Inter Google Font  ----------*/

@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

/*----------  Theme  ----------*/

@import "./theme/foundation";

/*----------  Base Styling & Reset  ----------*/
:root {
  font-size: 62.5%; /*  make "1rem" = "10px" for better understanding of relation b/w "rem" & "px" units. */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
}

body {
  font-family: $inter;
  font-size: $fs-md;
  font-weight: $fw-regular;
  color: $text-primary-color;
}

.container {
  max-width: 125rem;
  width: 100%;
  height: 100%;
  margin: auto;
}

.center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

/*==== Margin ====*/
.m-3 {
  margin: 3rem;
}
.m-2 {
  margin: 2rem;
}
.m-xl {
  margin: 3.2rem;
}
.m-lg {
  margin: 1.6rem;
}
.m-md {
  margin: 1.2rem;
}
.m-sm {
  margin: 0.8rem;
}
.m-xsm {
  margin: 0.4rem;
}

// Left
.lm-3 {
  margin-left: 3rem;
}
.lm-2 {
  margin-left: 2rem;
}
.lm-xl {
  margin-left: 3.2rem;
}
.lm-lg {
  margin-left: 1.6rem;
}
.lm-md {
  margin-left: 1.2rem;
}
.lm-sm {
  margin-left: 0.8rem;
}
.lm-xsm {
  margin-left: 0.4rem;
}

// Right
.rm-3 {
  margin-right: 3rem;
}
.rm-2 {
  margin-right: 2rem;
}
.rm-xl {
  margin-right: 3.2rem;
}
.rm-lg {
  margin-right: 1.6rem;
}
.rm-md {
  margin-right: 1.2rem;
}
.rm-sm {
  margin-right: 0.8rem;
}
.rm-xsm {
  margin-right: 0.4rem;
}

/*==== End of Margin ====*/
