/*=============================================
=            Mixins (reuseable css code)      =
=============================================*/

/*----------  Media Query Helpers  ----------*/

$breakpoints: (
  sm: 45rem,
  md: 68rem,
);

@mixin phone {
  @media only screen and (max-width: map-get($breakpoints, "sm")) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: map-get($breakpoints, "md")) {
    @content;
  }
}

/*----------  Margin Utility Class Generators  ----------*/

$sizes: (
  xsm: 0.4rem,
  sm: 0.8rem,
  md: 1.2rem,
  lg: 1.8rem,
  xl: 3.2rem,
);

@mixin margins {
  @each $size, $value in $sizes {
    &-#{$size} {
      margin: $value;
    }
  }
}

@mixin left-margins {
  @each $size, $value in $sizes {
    &m-#{$size} {
      margin-left: $value;
    }
  }
}

@mixin right-margins {
  @each $size, $value in $sizes {
    &m-#{$size} {
      margin-right: $value;
    }
  }
}

@mixin top-margins {
  @each $size, $value in $sizes {
    &m-#{$size} {
      margin-top: $value;
    }
  }
}

@mixin bottom-margins {
  @each $size, $value in $sizes {
    &m-#{$size} {
      margin-bottom: $value;
    }
  }
}

@mixin grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2rem;
  align-items: center;

  @include tablet {
    grid-template-columns: repeat(4, 1fr);
  }
  @include phone {
    grid-template-columns: repeat(2, 1fr);
  }

  @content;
}

/*=====  End of Mixins (reuseable css code)  ======*/
