@import "./theme/foundation";

.wrapper {
    display: flex;
    align-items: stretch;

    & input:focus {
        outline: none;
    }
    & button {
        &:focus {
            outline: none;
        }
    }
}
