.register_container {
    padding-bottom: 1.8rem;
    margin-top: 2rem;
}

.login_container {
    margin-top: 2rem;
    padding-bottom: 1rem;
}

.social_icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10;
}
