.register_container {
    padding-bottom: 1.8rem;
    margin-top: 2rem;
}

.login_container {
    margin-top: 2rem;
    padding-bottom: 1rem;
}

.social_login {
    display: block;

    & button {
        margin-top: 1rem !important;
    }
}
.separator {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0.5rem 0;

    & div {
        flex: 1;
        display: block;
        height: 1px;
        border-bottom: 1px solid #ddd;
    }

    & span {
        display: inline-block;
        margin: 0 1rem;
    }
}

.social_button {
    & div {
        justify-content: center;

        & div:last-child {
            width: auto !important;
        }
    }
}
