@import "./theme/foundation";

.links {
    &_a {
        text-decoration: none;
    }

    &_item {
        background: $grey-light;
        padding: 1rem;
        cursor: pointer;
        position: relative;
        margin-bottom: 1rem;

        &:hover {
            background: $secondary-color;

            & p {
                color: white;
            }
        }

        & p {
            font-weight: 400 !important;
        }

        &_active {
            background: $grey-dark;
            border-left: 3px solid $primary-color;

            & p {
                font-weight: 500 !important;
                color: white;
            }
        }
    }
}
