@import "./theme/foundation";

.input {
    font-family: inherit;
    font-size: 500;
    padding: 1rem;
    color: $grey-dark;
    border: 1px solid $grey-medium;
    display: inline-block;
    width: min-content;

    &::placeholder {
        color: $grey-dark;
    }
}

.input_full_width {
    width: 100%;
}
